# Librerias

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import a_funciones as fn

In [2]:
# """Ruta directorio qué tiene paquetes"""
# sys.path
# sys.path.append('C:\codigos\HR_T1_Analitica')

# Bases de datos

In [3]:
#Se asigna a una variable la ruta de los dataframe
employee = 'data/employee_survey_data.csv'
general = 'data/general_data.csv'
manager_survey = 'data/manager_survey_data.csv'
retirement = 'data/retirement_info.csv'
mean_time = 'data/data_mean.csv'

#Se procesa los dataframe con pandas y se almacenan
data_employee = pd.read_csv(employee)
data_general = pd.read_csv(general ,sep=";")
data_manager_survey = pd.read_csv(manager_survey)
data_retirement = pd.read_csv(retirement ,sep=";")
data_mean_time = pd.read_csv(mean_time)

* Age: Edad del empleado en años.
* Attrition: Indica si el empleado dejó la compañía o no. Los valores posibles son "Yes" y "No".
* BusinessTravel: Frecuencia de los viajes de negocios del empleado. Los valores posibles son "Travel_Rarely", "Travel_Frequently" y "Non-Travel".
* Department: Departamento donde trabaja el empleado. Los valores posibles son "Sales", "Research & Development" y "Human Resources".
* DistanceFromHome: Distancia del hogar del empleado al lugar de trabajo.
* Education: Nivel educativo del empleado. Los valores posibles van de 1 (menos educación) a 5 (más educación).
* EducationField: Campo de estudio del empleado. Los valores posibles son "Life Sciences", "Other", "Medical", "Marketing", "Technical Degree" y "Human Resources".
* EmployeeCount: Constante con valor 1 que indica el número de empleados en cada registro.
* EmployeeID: Identificación única del empleado.
* Gender: Género del empleado. Los valores posibles son "Male" y "Female".
* JobLevel: Nivel laboral del empleado. Los valores posibles van de 1 (puesto más bajo) a 5 (puesto más alto).
* JobRole: Rol laboral del empleado. Los valores posibles son "Sales Executive", "Research Scientist", "Laboratory Technician", "Manufacturing Director", "Healthcare Representative", "Manager", "Sales Representative", "Research Director", "Human Resources" y "Manager".
* MaritalStatus: Estado civil del empleado. Los valores posibles son "Single", "Married" y "Divorced".
* MonthlyIncome: Ingreso mensual del empleado en dólares estadounidenses.
* NumCompaniesWorked: Número de compañías en las que el empleado ha trabajado antes de unirse a la actual.
* Over18: Constante con valor "Yes" que indica si el empleado es mayor de 18 años.
* PercentSalaryHike: Porcentaje de aumento en el salario del empleado en el último año.
* StandardHours: Constante con valor 80 que indica el número estándar de horas trabajadas por semana.
* StockOptionLevel: Nivel de opciones de compra de acciones otorgadas al empleado. Los valores posibles van de 0 (ninguna opción otorgada) a 3 (máximo nivel de opciones otorgadas).
* TotalWorkingYears: Total de años de experiencia laboral del empleado.
* TrainingTimesLastYear: Número de veces que el empleado asistió a programas de capacitación en el último año.
* YearsAtCompany: Años que el empleado ha trabajado en la compañía actual.
* YearsSinceLastPromotion: Años desde la última promoción del empleado.
* YearsWithCurrManager: Años que el empleado ha estado bajo la supervisión del gerente actual.

<h1> General Data </h1>

In [4]:
#Se analizan las columnas con sus variables
fn.info_columns(data_general)

Age [51 31 32 38 46 28 29 25 45 36 55 47 37 21 35 26 50 53 42 44 49 18 41 39
 58 33 43 52 27 30 54 40 23 48 57 34 24 22 56 60 19 20 59]
BusinessTravel ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Department ['Sales' 'Research & Development' 'Human Resources']
DistanceFromHome [ 6 10 17  2  8 11 18  1  7 28 14  3  4 16  9  5 20 29 15 13 24 19 22 25
 21 26 27 12 23]
Education [2 1 4 5 3]
EducationField ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
EmployeeCount [1]
EmployeeID [   1    2    3 ... 4408 4409 4410]
Gender ['Female' 'Male']
JobLevel [1 4 3 2 5]
JobRole ['Healthcare Representative' 'Research Scientist' 'Sales Executive'
 'Human Resources' 'Research Director' 'Laboratory Technician'
 'Manufacturing Director' 'Sales Representative' 'Manager']
MaritalStatus ['Married' 'Single' 'Divorced']
MonthlyIncome [131160  41890 193280 ...  37020  23980  54680]
NumCompaniesWorked [ 1.  0.  3.  4.  2.  7.  9.  5.  6.  8. nan]
Over18 ['Y']
PercentSalaryHike [11 23 15 12 13 20 22 21 17 14 16 18 19 24 25]
StandardHours [8]
StockOptionLevel [0 1 3 2]
TotalWorkingYears [ 1.  6.  5. 13.  9. 28. 10. 21. 16. 37.  7.  3. 15.  8. nan 12. 17. 19.
 22.  2.  4. 23.  0. 11. 24. 25. 20. 14. 26. 18. 30. 36. 31. 33. 32. 34.
 40. 29. 35. 27. 38.]
TrainingTimesLastYear [6 3 2 5 4 0 1]
YearsAtCompany [ 1  5  8  6  7  0  9 20 15 36 10  3 17  2  4 11 22 18 13 24 21 16 25 29
 27 14 31 32 34 26 12 19 33 30 23 37 40]
YearsSinceLastPromotion [ 0  1  7  4 10  9  6 11  3  5  2  8 13 12 15 14]
YearsWithCurrManager [ 0  4  3  5  7  8 10 11 13  9  1  2  6 12 17 16 15 14]
Tamaño del DataFrame: (4410, 23)

- Se puede eliminar las columnas: - EmployeeCount, ya que tiene solo 1 valor.
                                    - Over18, ya que todos son mayores de 18.
                                    - StandardHour, ya que las horas estandares son  8 para todos.

- Se deben tratar los datos nulos: - NumCompaniesWorked, se puede remplazar los
                                    nan por la moda.
                                    - TotalWorkingYears, Tambien se puede cambiar
                                    por la moda.

In [5]:
#Se realiza la amputacion columnas que no son necesarias y rellenado de datos nulos
data_general = data_general.drop(columns=['EmployeeCount','Over18', 'StandardHours'])
data_general = fn.impute_columns(df = data_general, columns = ['NumCompaniesWorked', 'TotalWorkingYears'], strategy = 'most_frequent')
print(data_general.isnull().sum(),data_general.shape)

Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
PercentSalaryHike          0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64 (4410, 20)

In [6]:
#Se analiza el tipo de dato de cada columna
data_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   BusinessTravel           4410 non-null   object
 2   Department               4410 non-null   object
 3   DistanceFromHome         4410 non-null   int64
 4   Education                4410 non-null   int64
 5   EducationField           4410 non-null   object
 6   EmployeeID               4410 non-null   int64
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   int64
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   int64
 12  NumCompaniesWorked       4410 non-null   float64
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   int64
 15  TotalWorkingYears        4410 non-null   float64
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(12), object(6)
memory usage: 689.2+ KB

Se debe cambiar el tipo de las siguientes variables:

  - DistanceFromHome: float64
  - Education: Category
  - EmployeeID: object
  - Joblevel: object
  - MonthlyIncome: float64
  - NumCompaniesWorked: int64
  - StockOptionLevel: object
  - TotalWorkingYears: int64

In [7]:
#Se asigna el tipo de datos correcto para cada columna
columns_object = ['EmployeeID','JobLevel', 'StockOptionLevel', 'Education']
columns_int = ['NumCompaniesWorked','TotalWorkingYears']
columns_float = ['DistanceFromHome','MonthlyIncome']
data_general[columns_object] = data_general[columns_object].astype(object)
data_general[columns_int] = data_general[columns_int].astype(int)
data_general[columns_float] = data_general[columns_float].astype(float)
data_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   BusinessTravel           4410 non-null   object
 2   Department               4410 non-null   object
 3   DistanceFromHome         4410 non-null   float64
 4   Education                4410 non-null   object
 5   EducationField           4410 non-null   object
 6   EmployeeID               4410 non-null   object
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   object
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   float64
 12  NumCompaniesWorked       4410 non-null   int32
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   object
 15  TotalWorkingYears        4410 non-null   int32
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int32(2), int64(6), object(10)
memory usage: 654.7+ KB

Se tiene dudas si PercentSalaryHike se debe expresar como: "object o int"

# Employee Data

In [8]:
#Se analiza la columna con sus valores
fn.info_columns(data_employee)

EmployeeID [   1    2    3 ... 4408 4409 4410]
EnvironmentSatisfaction [ 3.  2.  4.  1. nan]
JobSatisfaction [ 4.  2.  1.  3. nan]
WorkLifeBalance [ 2.  4.  1.  3. nan]
Tamaño del DataFrame: (4410, 4)

Se puede remplazar los datos nulos por:
- EnvironmentSatisfaction: moda
- JobSatisfaction: moda
- WorkLifeBalance: moda

In [9]:
#Se evalua que la cantidad de datos nulos no sean una cantidad de datos significativa
data_employee.isnull().sum()

EmployeeID                  0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
dtype: int64

In [10]:
#Se aplica imputación de datos
data_employee = fn.impute_columns(df = data_employee, columns = ['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance'], strategy = 'most_frequent')
print(data_employee.isnull().sum(),data_employee.shape)

EmployeeID                 0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
dtype: int64 (4410, 4)

In [11]:
#Se analiza el tipo de variable para cada columna
data_employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4410 non-null   float64
 2   JobSatisfaction          4410 non-null   float64
 3   WorkLifeBalance          4410 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 137.9 KB

Hay que realizar cambios a las siguientes columnas ya que estan son objects, por el hecho de que son clasificaciones y no enteros o flotantes segun si tipologia expresada en el data_dictionary
- EnvironmentSatisfaction: categoty
- JobSatisfaction: category
- WorkLifeBalance: category

In [12]:
#Transformación de variables
columns_object = ['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance', "EmployeeID"]
data_employee[columns_object] = data_employee[columns_object].astype(object)
#Se confirma el cambio de categoria
data_employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   object
 1   EnvironmentSatisfaction  4410 non-null   object
 2   JobSatisfaction          4410 non-null   object
 3   WorkLifeBalance          4410 non-null   object
dtypes: object(4)
memory usage: 137.9+ KB

Probando categorical de pandas

# Manager Data

In [13]:
fn.info_columns(data_manager_survey)

EmployeeID [   1    2    3 ... 4408 4409 4410]
JobInvolvement [3 2 1 4]
PerformanceRating [3 4]
Tamaño del DataFrame: (4410, 3)

In [14]:
data_manager_survey.isnull().sum()

EmployeeID           0
JobInvolvement       0
PerformanceRating    0
dtype: int64

In [15]:
data_manager_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         4410 non-null   int64
 1   JobInvolvement     4410 non-null   int64
 2   PerformanceRating  4410 non-null   int64
dtypes: int64(3)
memory usage: 103.5 KB

In [16]:
#Transformación de variables
columns_object = ['JobInvolvement', 'PerformanceRating', "EmployeeID"]
data_manager_survey[columns_object] = data_manager_survey[columns_object].astype(object)
#Se confirma el cambio
data_manager_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         4410 non-null   object
 1   JobInvolvement     4410 non-null   object
 2   PerformanceRating  4410 non-null   object
dtypes: object(3)
memory usage: 103.5+ KB

<h1>DATA RETIREMENT</h1>

In [17]:
fn.info_columns(data_retirement)

EmployeeID [   2    7   14   29   31   36   39   60   66   70   79  100  106  109
  111  113  121  125  128  148  157  158  164  165  178  179  182  183
  186  196  200  206  212  222  223  225  238  247  256  257  268  271
  283  290  305  309  311  316  328  332  334  338  341  350  351  357
  379  388  399  403  405  406  409  410  412  426  431  432  436  438
  443  449  452  454  463  468  474  475  487  491  492  495  504  505
  519  520  522  523  532  534  535  539  540  541  543  544  556  571
  572  574  579  581  585  592  600  603  607  614  635  654  656  658
  671  675  682  683  689  690  695  696  709  718  723  724  728  740
  749  750  755  759  764  774  775  776  779  782  799  800  801  803
  811  820  826  828  849  853  854  855  879  896  905  910  914  929
  944  947  948  956  965  966  979  980  989  992  998 1000 1005 1014
 1016 1022 1024 1033 1034 1040 1041 1055 1056 1069 1075 1076 1081 1082
 1096 1097 1108 1112 1118 1122 1133 1138 1139 1181 1185 1187 1195 1204
 1213 1215 1227 1234 1237 1239 1246 1247 1249 1255 1258 1263 1264 1282
 1302 1313 1315 1320 1324 1335 1337 1339 1340 1345 1349 1353 1384 1390
 1395 1405 1417 1418 1423 1427 1429 1430 1442 1447 1449 1452 1463 1472
 1477 1484 1499 1501 1506 1509 1530 1536 1540 1549 1570 1576 1579 1581
 1583 1591 1595 1598 1618 1627 1628 1634 1635 1648 1649 1652 1653 1656
 1666 1670 1676 1682 1692 1693 1695 1708 1717 1726 1727 1738 1741 1753
 1760 1775 1779 1781 1786 1798 1802 1804 1808 1811 1820 1821 1827 1849
 1858 1869 1873 1875 1876 1879 1880 1882 1896 1901 1902 1906 1908 1913
 1919 1922 1924 1933 1938 1944 1945 1957 1961 1962 1965 1974 1975 1989
 1990 1992 1993 2002 2004 2005 2009 2010 2011 2013 2014 2026 2041 2042
 2044 2049 2051 2055 2062 2070 2073 2077 2084 2105 2124 2126 2128 2141
 2145 2152 2153 2159 2160 2165 2166 2179 2188 2193 2194 2198 2210 2219
 2220 2225 2229 2234 2244 2245 2246 2249 2252 2269 2270 2271 2273 2281
 2290 2296 2298 2319 2323 2324 2325 2349 2366 2375 2380 2384 2399 2414
 2417 2418 2426 2435 2436 2449 2450 2459 2462 2468 2470 2475 2484 2486
 2492 2494 2503 2504 2510 2511 2525 2526 2539 2545 2546 2551 2552 2566
 2567 2578 2582 2588 2592 2603 2608 2609 2651 2655 2657 2665 2674 2683
 2685 2697 2704 2707 2709 2716 2717 2719 2725 2728 2733 2734 2752 2772
 2783 2785 2790 2794 2805 2807 2809 2810 2815 2819 2823 2854 2860 2865
 2875 2887 2888 2893 2897 2899 2900 2912 2917 2919 2922 2933 2942 2947
 2954 2969 2971 2976 2979 3000 3006 3010 3019 3040 3046 3049 3051 3053
 3061 3065 3068 3088 3097 3098 3104 3105 3118 3119 3122 3123 3126 3136
 3140 3146 3152 3162 3163 3165 3178 3187 3196 3197 3208 3211 3223 3230
 3245 3249 3251 3256 3268 3272 3274 3278 3281 3290 3291 3297 3319 3328
 3339 3343 3345 3346 3349 3350 3352 3366 3371 3372 3376 3378 3383 3389
 3392 3394 3403 3408 3414 3415 3427 3431 3432 3435 3444 3445 3459 3460
 3462 3463 3472 3474 3475 3479 3480 3481 3483 3484 3496 3511 3512 3514
 3519 3521 3525 3532 3540 3543 3547 3554 3575 3594 3596 3598 3611 3615
 3622 3623 3629 3630 3635 3636 3649 3658 3663 3664 3668 3680 3689 3690
 3695 3699 3704 3714 3715 3716 3719 3722 3739 3740 3741 3743 3751 3760
 3766 3768 3789 3793 3794 3795 3819 3836 3845 3850 3854 3869 3884 3887
 3888 3896 3905 3906 3919 3920 3929 3932 3938 3940 3945 3954 3956 3962
 3964 3973 3974 3980 3981 3995 3996 4009 4015 4016 4021 4022 4036 4037
 4048 4052 4058 4062 4073 4078 4079 4121 4125 4127 4135 4144 4153 4155
 4167 4174 4177 4179 4186 4187 4189 4195 4198 4203 4204 4222 4242 4253
 4255 4260 4264 4275 4277 4279 4280 4285 4289 4293 4324 4330 4335 4345
 4357 4358 4363 4367 4369 4370 4382 4387 4389 4392 4403]
Attrition ['Yes']
retirementDate ['15/10/2016' '20/07/2016' '08/11/2016' '08/02/2016' '18/06/2016'
 '29/04/2016' '15/12/2016' '18/01/2016' '23/08/2016' '17/02/2016'
 '23/02/2016' '07/04/2016' '08/10/2016' '12/08/2016' '14/10/2016'
 '26/07/2016' '02/05/2016' '29/07/2016' '10/01/2016' '29/02/2016'
 '25/03/2016' '30/06/2016' '16/11/2016' '13/02/2016' '05/07/2016'
 '22/02/2016' '03/01/2016' '05/03/2016' '04/09/2016' '25/01/2016'
 '01/06/2016' '22/06/2016' '28/10/2016' '23/06/2016' '30/05/2016'
 '14/07/2016' '17/08/2016' '28/01/2016' '19/01/2016' '06/04/2016'
 '06/03/2016' '08/12/2016' '01/09/2016' '11/09/2016' '09/06/2016'
 '30/09/2016' '17/01/2016' '26/08/2016' '13/03/2016' '19/06/2016'
 '18/05/2016' '09/03/2016' '24/08/2016' '11/06/2016' '19/02/2016'
 '22/04/2016' '11/08/2016' '02/09/2016' '01/04/2016' '26/05/2016'
 '21/07/2016' '26/11/2016' '02/06/2016' '26/06/2016' '25/05/2016'
 '12/12/2016' '22/10/2016' '06/11/2016' '10/09/2016' '01/05/2016'
 '14/11/2016' '13/12/2016' '21/09/2016' '27/11/2016' '18/10/2016'
 '10/05/2016' '10/02/2016' '01/07/2016' '26/02/2016' '03/11/2016'
 '02/12/2016' '08/01/2016' '04/01/2016' '18/04/2016' '24/01/2016'
 '31/07/2016' '27/05/2016' '27/04/2016' '19/09/2016' '29/01/2016'
 '16/09/2016' '12/03/2016' '21/04/2016' '20/05/2016' '18/02/2016'
 '23/07/2016' '18/03/2016' '25/06/2016' '10/08/2016' '26/03/2016'
 '21/03/2016' '31/01/2016' '11/10/2016' '05/05/2016' '04/08/2016'
 '27/10/2016' '31/08/2016' '13/11/2016' '01/10/2016' '29/03/2016'
 '22/01/2016' '06/12/2016' '24/02/2016' '13/07/2016' '22/07/2016'
 '28/07/2016' '24/03/2016' '08/04/2016' '20/06/2016' '16/03/2016'
 '25/11/2016' '23/05/2016' '02/07/2016' '18/09/2016' '14/01/2016'
 '04/04/2016' '01/02/2016' '05/09/2016' '27/07/2016' '08/09/2016'
 '07/03/2016' '24/07/2016' '17/11/2016' '15/02/2016' '06/06/2016'
 '31/03/2016' '14/05/2016' '17/05/2016' '15/01/2016' '19/07/2016'
 '25/07/2016' '07/05/2016' '22/08/2016' '09/09/2016' '03/03/2016'
 '28/03/2016' '06/01/2016' '28/05/2016' '03/09/2016' '08/06/2016'
 '25/08/2016' '16/02/2016' '04/05/2016' '05/10/2016' '21/05/2016'
 '05/01/2016' '14/12/2016' '23/03/2016' '18/11/2016' '17/03/2016'
 '11/01/2016' '22/05/2016' '03/05/2016' '30/01/2016' '07/02/2016'
 '04/12/2016' '20/10/2016' '20/03/2016' '09/05/2016' '25/09/2016'
 '15/05/2016' '28/08/2016' '10/07/2016' '09/04/2016' '28/11/2016'
 '02/03/2016' '31/10/2016' '15/07/2016' '03/10/2016' '04/02/2016'
 '12/02/2016' '26/09/2016' '19/08/2016' '07/01/2016' '11/07/2016'
 '09/12/2016' '02/04/2016' '29/05/2016' '07/11/2016' '16/10/2016'
 '03/07/2016' '01/03/2016' '14/06/2016' '13/06/2016' '25/10/2016'
 '11/11/2016' '27/08/2016' '15/11/2016' '19/05/2016' '10/11/2016'
 '16/04/2016' '11/02/2016' '22/11/2016' '03/12/2016' '13/10/2016'
 '30/03/2016' '15/04/2016' '24/04/2016' '07/12/2016' '12/11/2016'
 '18/08/2016' '16/06/2016' '16/05/2016' '09/10/2016' '28/06/2016'
 '27/06/2016' '13/01/2016' '24/10/2016' '13/04/2016' '16/08/2016'
 '24/06/2016' '23/09/2016' '03/06/2016' '06/08/2016' '20/09/2016'
 '01/12/2016' '08/07/2016' '28/04/2016' '11/05/2016' '29/09/2016'
 '03/04/2016' '15/09/2016' '24/05/2016' '07/10/2016' '27/09/2016'
 '11/03/2016' '27/01/2016' '09/11/2016' '04/06/2016' '20/11/2016'
 '13/05/2016' '23/11/2016' '12/09/2016' '02/02/2016' '16/07/2016'
 '23/01/2016' '21/10/2016' '08/05/2016' '29/11/2016' '19/03/2016'
 '17/06/2016' '12/04/2016' '20/02/2016' '02/11/2016' '13/08/2016'
 '30/11/2016' '30/10/2016' '17/04/2016' '25/04/2016' '05/08/2016'
 '04/03/2016' '02/01/2016' '08/08/2016' '10/10/2016' '05/11/2016'
 '06/09/2016' '29/08/2016' '15/03/2016' '26/01/2016' '09/02/2016'
 '22/03/2016' '07/06/2016' '20/08/2016' '16/01/2016' '06/07/2016'
 '30/08/2016' '04/07/2016' '05/02/2016' '19/10/2016' '21/06/2016'
 '30/07/2016' '21/11/2016' '14/04/2016' '11/12/2016' '16/12/2016'
 '06/02/2016' '05/12/2016' '17/07/2016' '10/12/2016' '11/04/2016'
 '28/02/2016' '13/09/2016' '19/04/2016' '14/02/2016' '17/10/2016'
 '04/10/2016' '12/05/2016' '01/11/2016' '29/06/2016' '21/01/2016'
 '14/08/2016' '21/08/2016' '17/09/2016' '19/11/2016' '28/09/2016'
 '07/08/2016' '07/09/2016' '02/10/2016']
retirementType ['Resignation' 'Fired']
resignationReason ['Others' 'Stress' 'Salary' nan]
Tamaño del DataFrame: (711, 5)

In [18]:
data_retirement.isnull().sum()

EmployeeID            0
Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

In [19]:
fn.impute_columns(df = data_retirement, columns = ['resignationReason'], strategy = 'most_frequent')

     EmployeeID Attrition retirementDate retirementType resignationReason
0             2       Yes     15/10/2016    Resignation            Others
1             7       Yes     20/07/2016    Resignation            Stress
2            14       Yes     08/11/2016    Resignation            Others
3            29       Yes     15/10/2016    Resignation            Others
4            31       Yes     08/02/2016    Resignation            Salary
..          ...       ...            ...            ...               ...
706        4382       Yes     18/04/2016    Resignation            Salary
707        4387       Yes     16/09/2016    Resignation            Others
708        4389       Yes     24/05/2016    Resignation            Others
709        4392       Yes     26/02/2016          Fired            Others
710        4403       Yes     26/01/2016    Resignation            Stress

[711 rows x 5 columns]

In [20]:
data_retirement.isnull().sum()

EmployeeID           0
Attrition            0
retirementDate       0
retirementType       0
resignationReason    0
dtype: int64

In [21]:
data_retirement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         711 non-null    int64
 1   Attrition          711 non-null    object
 2   retirementDate     711 non-null    object
 3   retirementType     711 non-null    object
 4   resignationReason  711 non-null    object
dtypes: int64(1), object(4)
memory usage: 27.9+ KB

In [22]:
columns_object = ["retirementType", "EmployeeID"]
data_retirement[columns_object] = data_retirement[columns_object].astype(object)
data_retirement["retirementDate"] = pd.to_datetime(data_retirement["retirementDate"])
data_retirement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         711 non-null    object
 1   Attrition          711 non-null    object
 2   retirementDate     711 non-null    datetime64[ns]
 3   retirementType     711 non-null    object
 4   resignationReason  711 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 27.9+ KB

<h3>Unión de bases de datos</h3>

In [23]:
data = pd.merge(data_general,data_employee, on=['EmployeeID', 'EmployeeID'], how='inner')
data = pd.merge(data, data_manager_survey, on=['EmployeeID', 'EmployeeID'], how='inner')
data = pd.merge(data, data_mean_time, on=['EmployeeID', 'EmployeeID'], how='inner')
data = pd.merge(data, data_retirement, on=['EmployeeID', "EmployeeID"], how="left")

In [24]:
fn.info_columns(data)

Age [51 31 32 38 46 28 29 25 45 36 55 47 37 21 35 26 50 53 42 44 49 18 41 39
 58 33 43 52 27 30 54 40 23 48 57 34 24 22 56 60 19 20 59]
BusinessTravel ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Department ['Sales' 'Research & Development' 'Human Resources']
DistanceFromHome [ 6. 10. 17.  2.  8. 11. 18.  1.  7. 28. 14.  3.  4. 16.  9.  5. 20. 29.
 15. 13. 24. 19. 22. 25. 21. 26. 27. 12. 23.]
Education [2 1 4 5 3]
EducationField ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
EmployeeID [1 2 3 ... 4408 4409 4410]
Gender ['Female' 'Male']
JobLevel [1 4 3 2 5]
JobRole ['Healthcare Representative' 'Research Scientist' 'Sales Executive'
 'Human Resources' 'Research Director' 'Laboratory Technician'
 'Manufacturing Director' 'Sales Representative' 'Manager']
MaritalStatus ['Married' 'Single' 'Divorced']
MonthlyIncome [131160.  41890. 193280. ...  37020.  23980.  54680.]
NumCompaniesWorked [1 0 3 4 2 7 9 5 6 8]
PercentSalaryHike [11 23 15 12 13 20 22 21 17 14 16 18 19 24 25]
StockOptionLevel [0 1 3 2]
TotalWorkingYears [ 1  6  5 13  9 28 10 21 16 37  7  3 15  8 12 17 19 22  2  4 23  0 11 24
 25 20 14 26 18 30 36 31 33 32 34 40 29 35 27 38]
TrainingTimesLastYear [6 3 2 5 4 0 1]
YearsAtCompany [ 1  5  8  6  7  0  9 20 15 36 10  3 17  2  4 11 22 18 13 24 21 16 25 29
 27 14 31 32 34 26 12 19 33 30 23 37 40]
YearsSinceLastPromotion [ 0  1  7  4 10  9  6 11  3  5  2  8 13 12 15 14]
YearsWithCurrManager [ 0  4  3  5  7  8 10 11 13  9  1  2  6 12 17 16 15 14]
EnvironmentSatisfaction [3.0 2.0 4.0 1.0]
JobSatisfaction [4.0 2.0 1.0 3.0]
WorkLifeBalance [2.0 4.0 1.0 3.0]
JobInvolvement [3 2 1 4]
PerformanceRating [3 4]
mean_time [ 7  8 11  9  6 10]
Attrition [nan 'Yes']
retirementDate [                          'NaT' '2016-10-15T00:00:00.000000000'
 '2016-07-20T00:00:00.000000000' '2016-08-11T00:00:00.000000000'
 '2016-08-02T00:00:00.000000000' '2016-06-18T00:00:00.000000000'
 '2016-04-29T00:00:00.000000000' '2016-12-15T00:00:00.000000000'
 '2016-01-18T00:00:00.000000000' '2016-08-23T00:00:00.000000000'
 '2016-02-17T00:00:00.000000000' '2016-02-23T00:00:00.000000000'
 '2016-07-04T00:00:00.000000000' '2016-08-10T00:00:00.000000000'
 '2016-12-08T00:00:00.000000000' '2016-10-14T00:00:00.000000000'
 '2016-07-26T00:00:00.000000000' '2016-02-05T00:00:00.000000000'
 '2016-07-29T00:00:00.000000000' '2016-10-01T00:00:00.000000000'
 '2016-02-29T00:00:00.000000000' '2016-03-25T00:00:00.000000000'
 '2016-06-30T00:00:00.000000000' '2016-11-16T00:00:00.000000000'
 '2016-02-13T00:00:00.000000000' '2016-05-07T00:00:00.000000000'
 '2016-02-22T00:00:00.000000000' '2016-03-01T00:00:00.000000000'
 '2016-05-03T00:00:00.000000000' '2016-04-09T00:00:00.000000000'
 '2016-01-25T00:00:00.000000000' '2016-01-06T00:00:00.000000000'
 '2016-06-22T00:00:00.000000000' '2016-10-28T00:00:00.000000000'
 '2016-06-23T00:00:00.000000000' '2016-05-30T00:00:00.000000000'
 '2016-07-14T00:00:00.000000000' '2016-08-17T00:00:00.000000000'
 '2016-01-28T00:00:00.000000000' '2016-01-19T00:00:00.000000000'
 '2016-06-04T00:00:00.000000000' '2016-06-03T00:00:00.000000000'
 '2016-08-12T00:00:00.000000000' '2016-01-09T00:00:00.000000000'
 '2016-11-09T00:00:00.000000000' '2016-09-06T00:00:00.000000000'
 '2016-09-30T00:00:00.000000000' '2016-01-17T00:00:00.000000000'
 '2016-08-26T00:00:00.000000000' '2016-03-13T00:00:00.000000000'
 '2016-06-19T00:00:00.000000000' '2016-05-18T00:00:00.000000000'
 '2016-09-03T00:00:00.000000000' '2016-08-24T00:00:00.000000000'
 '2016-11-06T00:00:00.000000000' '2016-02-19T00:00:00.000000000'
 '2016-04-22T00:00:00.000000000' '2016-11-08T00:00:00.000000000'
 '2016-02-09T00:00:00.000000000' '2016-01-04T00:00:00.000000000'
 '2016-05-26T00:00:00.000000000' '2016-07-21T00:00:00.000000000'
 '2016-11-26T00:00:00.000000000' '2016-02-06T00:00:00.000000000'
 '2016-06-26T00:00:00.000000000' '2016-05-25T00:00:00.000000000'
 '2016-12-12T00:00:00.000000000' '2016-10-22T00:00:00.000000000'
 '2016-06-11T00:00:00.000000000' '2016-10-09T00:00:00.000000000'
 '2016-01-05T00:00:00.000000000' '2016-11-14T00:00:00.000000000'
 '2016-12-13T00:00:00.000000000' '2016-09-21T00:00:00.000000000'
 '2016-11-27T00:00:00.000000000' '2016-10-18T00:00:00.000000000'
 '2016-10-05T00:00:00.000000000' '2016-10-02T00:00:00.000000000'
 '2016-01-07T00:00:00.000000000' '2016-02-26T00:00:00.000000000'
 '2016-03-11T00:00:00.000000000' '2016-02-12T00:00:00.000000000'
 '2016-08-01T00:00:00.000000000' '2016-04-01T00:00:00.000000000'
 '2016-04-18T00:00:00.000000000' '2016-01-24T00:00:00.000000000'
 '2016-07-31T00:00:00.000000000' '2016-05-27T00:00:00.000000000'
 '2016-04-27T00:00:00.000000000' '2016-09-19T00:00:00.000000000'
 '2016-01-29T00:00:00.000000000' '2016-09-16T00:00:00.000000000'
 '2016-12-03T00:00:00.000000000' '2016-04-21T00:00:00.000000000'
 '2016-05-20T00:00:00.000000000' '2016-02-18T00:00:00.000000000'
 '2016-07-23T00:00:00.000000000' '2016-03-18T00:00:00.000000000'
 '2016-06-25T00:00:00.000000000' '2016-10-08T00:00:00.000000000'
 '2016-03-26T00:00:00.000000000' '2016-03-21T00:00:00.000000000'
 '2016-01-31T00:00:00.000000000' '2016-11-10T00:00:00.000000000'
 '2016-05-05T00:00:00.000000000' '2016-04-08T00:00:00.000000000'
 '2016-10-27T00:00:00.000000000' '2016-08-31T00:00:00.000000000'
 '2016-11-13T00:00:00.000000000' '2016-01-10T00:00:00.000000000'
 '2016-03-29T00:00:00.000000000' '2016-01-22T00:00:00.000000000'
 '2016-06-12T00:00:00.000000000' '2016-02-24T00:00:00.000000000'
 '2016-07-13T00:00:00.000000000' '2016-07-22T00:00:00.000000000'
 '2016-07-28T00:00:00.000000000' '2016-03-24T00:00:00.000000000'
 '2016-08-04T00:00:00.000000000' '2016-06-20T00:00:00.000000000'
 '2016-03-16T00:00:00.000000000' '2016-11-25T00:00:00.000000000'
 '2016-05-23T00:00:00.000000000' '2016-02-07T00:00:00.000000000'
 '2016-09-18T00:00:00.000000000' '2016-01-14T00:00:00.000000000'
 '2016-04-04T00:00:00.000000000' '2016-01-02T00:00:00.000000000'
 '2016-05-09T00:00:00.000000000' '2016-07-27T00:00:00.000000000'
 '2016-08-09T00:00:00.000000000' '2016-07-03T00:00:00.000000000'
 '2016-07-24T00:00:00.000000000' '2016-11-17T00:00:00.000000000'
 '2016-02-15T00:00:00.000000000' '2016-06-06T00:00:00.000000000'
 '2016-03-31T00:00:00.000000000' '2016-05-14T00:00:00.000000000'
 '2016-05-17T00:00:00.000000000' '2016-01-15T00:00:00.000000000'
 '2016-07-19T00:00:00.000000000' '2016-07-25T00:00:00.000000000'
 '2016-07-05T00:00:00.000000000' '2016-08-22T00:00:00.000000000'
 '2016-09-09T00:00:00.000000000' '2016-03-03T00:00:00.000000000'
 '2016-03-28T00:00:00.000000000' '2016-06-01T00:00:00.000000000'
 '2016-05-28T00:00:00.000000000' '2016-03-09T00:00:00.000000000'
 '2016-08-06T00:00:00.000000000' '2016-08-25T00:00:00.000000000'
 '2016-02-16T00:00:00.000000000' '2016-04-05T00:00:00.000000000'
 '2016-05-10T00:00:00.000000000' '2016-05-21T00:00:00.000000000'
 '2016-05-01T00:00:00.000000000' '2016-12-14T00:00:00.000000000'
 '2016-03-23T00:00:00.000000000' '2016-11-18T00:00:00.000000000'
 '2016-03-17T00:00:00.000000000' '2016-11-01T00:00:00.000000000'
 '2016-05-22T00:00:00.000000000' '2016-03-05T00:00:00.000000000'
 '2016-01-30T00:00:00.000000000' '2016-07-02T00:00:00.000000000'
 '2016-04-12T00:00:00.000000000' '2016-10-20T00:00:00.000000000'
 '2016-03-20T00:00:00.000000000' '2016-09-05T00:00:00.000000000'
 '2016-09-25T00:00:00.000000000' '2016-05-15T00:00:00.000000000'
 '2016-08-28T00:00:00.000000000' '2016-10-07T00:00:00.000000000'
 '2016-09-04T00:00:00.000000000' '2016-11-28T00:00:00.000000000'
 '2016-02-03T00:00:00.000000000' '2016-10-31T00:00:00.000000000'
 '2016-07-15T00:00:00.000000000' '2016-03-10T00:00:00.000000000'
 '2016-04-02T00:00:00.000000000' '2016-12-02T00:00:00.000000000'
 '2016-09-26T00:00:00.000000000' '2016-08-19T00:00:00.000000000'
 '2016-07-01T00:00:00.000000000' '2016-11-07T00:00:00.000000000'
 '2016-09-12T00:00:00.000000000' '2016-02-04T00:00:00.000000000'
 '2016-05-29T00:00:00.000000000' '2016-07-11T00:00:00.000000000'
 '2016-10-16T00:00:00.000000000' '2016-03-07T00:00:00.000000000'
 '2016-01-03T00:00:00.000000000' '2016-06-14T00:00:00.000000000'
 '2016-06-13T00:00:00.000000000' '2016-10-25T00:00:00.000000000'
 '2016-11-11T00:00:00.000000000' '2016-08-27T00:00:00.000000000'
 '2016-11-15T00:00:00.000000000' '2016-05-19T00:00:00.000000000'
 '2016-10-11T00:00:00.000000000' '2016-04-16T00:00:00.000000000'
 '2016-11-02T00:00:00.000000000' '2016-11-22T00:00:00.000000000'
 '2016-03-12T00:00:00.000000000' '2016-10-13T00:00:00.000000000'
 '2016-03-30T00:00:00.000000000' '2016-04-15T00:00:00.000000000'
 '2016-04-24T00:00:00.000000000' '2016-07-12T00:00:00.000000000'
 '2016-12-11T00:00:00.000000000' '2016-08-18T00:00:00.000000000'
 '2016-06-16T00:00:00.000000000' '2016-05-16T00:00:00.000000000'
 '2016-09-10T00:00:00.000000000' '2016-06-28T00:00:00.000000000'
 '2016-06-27T00:00:00.000000000' '2016-01-13T00:00:00.000000000'
 '2016-10-24T00:00:00.000000000' '2016-04-13T00:00:00.000000000'
 '2016-08-16T00:00:00.000000000' '2016-06-24T00:00:00.000000000'
 '2016-09-23T00:00:00.000000000' '2016-03-06T00:00:00.000000000'
 '2016-06-08T00:00:00.000000000' '2016-09-20T00:00:00.000000000'
 '2016-01-12T00:00:00.000000000' '2016-08-07T00:00:00.000000000'
 '2016-04-28T00:00:00.000000000' '2016-11-05T00:00:00.000000000'
 '2016-09-29T00:00:00.000000000' '2016-03-04T00:00:00.000000000'
 '2016-09-15T00:00:00.000000000' '2016-05-24T00:00:00.000000000'
 '2016-07-10T00:00:00.000000000' '2016-09-27T00:00:00.000000000'
 '2016-11-03T00:00:00.000000000' '2016-01-27T00:00:00.000000000'
 '2016-09-11T00:00:00.000000000' '2016-04-06T00:00:00.000000000'
 '2016-11-20T00:00:00.000000000' '2016-05-13T00:00:00.000000000'
 '2016-11-23T00:00:00.000000000' '2016-12-09T00:00:00.000000000'
 '2016-02-02T00:00:00.000000000' '2016-07-16T00:00:00.000000000'
 '2016-01-23T00:00:00.000000000' '2016-10-21T00:00:00.000000000'
 '2016-08-05T00:00:00.000000000' '2016-11-29T00:00:00.000000000'
 '2016-03-19T00:00:00.000000000' '2016-06-17T00:00:00.000000000'
 '2016-12-04T00:00:00.000000000' '2016-02-20T00:00:00.000000000'
 '2016-02-11T00:00:00.000000000' '2016-08-13T00:00:00.000000000'
 '2016-11-30T00:00:00.000000000' '2016-10-30T00:00:00.000000000'
 '2016-04-17T00:00:00.000000000' '2016-04-25T00:00:00.000000000'
 '2016-05-08T00:00:00.000000000' '2016-04-03T00:00:00.000000000'
 '2016-02-01T00:00:00.000000000' '2016-08-08T00:00:00.000000000'
 '2016-10-10T00:00:00.000000000' '2016-05-11T00:00:00.000000000'
 '2016-06-09T00:00:00.000000000' '2016-08-29T00:00:00.000000000'
 '2016-03-15T00:00:00.000000000' '2016-01-26T00:00:00.000000000'
 '2016-09-02T00:00:00.000000000' '2016-03-22T00:00:00.000000000'
 '2016-07-06T00:00:00.000000000' '2016-08-20T00:00:00.000000000'
 '2016-01-16T00:00:00.000000000' '2016-06-07T00:00:00.000000000'
 '2016-08-30T00:00:00.000000000' '2016-04-07T00:00:00.000000000'
 '2016-05-02T00:00:00.000000000' '2016-10-19T00:00:00.000000000'
 '2016-06-21T00:00:00.000000000' '2016-07-30T00:00:00.000000000'
 '2016-11-21T00:00:00.000000000' '2016-04-14T00:00:00.000000000'
 '2016-11-12T00:00:00.000000000' '2016-12-16T00:00:00.000000000'
 '2016-06-02T00:00:00.000000000' '2016-05-12T00:00:00.000000000'
 '2016-07-17T00:00:00.000000000' '2016-10-12T00:00:00.000000000'
 '2016-11-04T00:00:00.000000000' '2016-02-28T00:00:00.000000000'
 '2016-09-13T00:00:00.000000000' '2016-04-19T00:00:00.000000000'
 '2016-02-14T00:00:00.000000000' '2016-10-17T00:00:00.000000000'
 '2016-04-10T00:00:00.000000000' '2016-12-05T00:00:00.000000000'
 '2016-01-11T00:00:00.000000000' '2016-06-29T00:00:00.000000000'
 '2016-01-21T00:00:00.000000000' '2016-08-14T00:00:00.000000000'
 '2016-08-21T00:00:00.000000000' '2016-09-17T00:00:00.000000000'
 '2016-11-19T00:00:00.000000000' '2016-09-28T00:00:00.000000000'
 '2016-07-08T00:00:00.000000000' '2016-07-09T00:00:00.000000000'
 '2016-02-10T00:00:00.000000000']
retirementType [nan 'Resignation' 'Fired']
resignationReason [nan 'Others' 'Stress' 'Salary']
Tamaño del DataFrame: (4410, 30)

In [25]:
data.isnull().sum()

Age                           0
BusinessTravel                0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EmployeeID                    0
Gender                        0
JobLevel                      0
JobRole                       0
MaritalStatus                 0
MonthlyIncome                 0
NumCompaniesWorked            0
PercentSalaryHike             0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
YearsAtCompany                0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
EnvironmentSatisfaction       0
JobSatisfaction               0
WorkLifeBalance               0
JobInvolvement                0
PerformanceRating             0
mean_time                     0
Attrition                  3699
retirementDate             3699
retirementType             3699
resignationReason          3699
dtype: int64

In [26]:
data["Attrition"] = data["Attrition"].fillna("No")

In [27]:
data["Attrition"].unique()

array(['No', 'Yes'], dtype=object)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4410 entries, 0 to 4409
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   BusinessTravel           4410 non-null   object
 2   Department               4410 non-null   object
 3   DistanceFromHome         4410 non-null   float64
 4   Education                4410 non-null   object
 5   EducationField           4410 non-null   object
 6   EmployeeID               4410 non-null   object
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   object
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   float64
 12  NumCompaniesWorked       4410 non-null   int32
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   object
 15  TotalWorkingYears        4410 non-null   int32
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
 20  EnvironmentSatisfaction  4410 non-null   object
 21  JobSatisfaction          4410 non-null   object
 22  WorkLifeBalance          4410 non-null   object
 23  JobInvolvement           4410 non-null   object
 24  PerformanceRating        4410 non-null   object
 25  mean_time                4410 non-null   int64
 26  Attrition                4410 non-null   object
 27  retirementDate           711 non-null    datetime64[ns]
 28  retirementType           711 non-null    object
 29  resignationReason        711 non-null    object
dtypes: datetime64[ns](1), float64(2), int32(2), int64(7), object(18)
memory usage: 1.0+ MB

In [29]:
data.isnull().sum()

Age                           0
BusinessTravel                0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EmployeeID                    0
Gender                        0
JobLevel                      0
JobRole                       0
MaritalStatus                 0
MonthlyIncome                 0
NumCompaniesWorked            0
PercentSalaryHike             0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
YearsAtCompany                0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
EnvironmentSatisfaction       0
JobSatisfaction               0
WorkLifeBalance               0
JobInvolvement                0
PerformanceRating             0
mean_time                     0
Attrition                     0
retirementDate             3699
retirementType             3699
resignationReason          3699
dtype: int64

In [30]:
columns_drop = ["retirementDate", "retirementType", "resignationReason"]
data = data.drop(columns = columns_drop)

<p>Se procede a eliminar las anteriores variables dedibo a que estas son propias de las personas que se han retirado y no se pueden cambiar los valores nulos que estas presentan. Estas se pueden tener en cuenta para un posterior análisis.</p>

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4410 entries, 0 to 4409
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   BusinessTravel           4410 non-null   object
 2   Department               4410 non-null   object
 3   DistanceFromHome         4410 non-null   float64
 4   Education                4410 non-null   object
 5   EducationField           4410 non-null   object
 6   EmployeeID               4410 non-null   object
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   object
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   float64
 12  NumCompaniesWorked       4410 non-null   int32
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   object
 15  TotalWorkingYears        4410 non-null   int32
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
 20  EnvironmentSatisfaction  4410 non-null   object
 21  JobSatisfaction          4410 non-null   object
 22  WorkLifeBalance          4410 non-null   object
 23  JobInvolvement           4410 non-null   object
 24  PerformanceRating        4410 non-null   object
 25  mean_time                4410 non-null   int64
 26  Attrition                4410 non-null   object
dtypes: float64(2), int32(2), int64(7), object(16)
memory usage: 930.2+ KB

In [33]:
#Descarga de datos para el análisis exploratorio
# data.to_csv("data_preprocesamiento.csv", index = False)